@charset "UTF-8";

main {background-color: white;
width: 600px; /*(width) = largura */
padding: 10px; /* espaço entre a borda e letra*/
margin:auto; /* para centralizar */
border-radius: 15px; /* arredondamento das bordas */
box-shadow: 15px 15px 15px #70261554 ;}/*sombras parametros para (baixo, lado, expalha, cor)*/


h1 {color: #000000; /*cor da letra */
text-align: center; /*texto alinhado no centro*/
text-shadow: 1px 1px 1px #000000a1;}


h2{color: #794f46;}/*cor da letra */


h3{color: #F2BB16;}/*cor da letra */


body{background-image: linear-gradient(to right, #A69185,#8C3D2B);}
/*cor do fundo degrader*/