
 
 body{font-family: Arial, Helvetica, sans-serif; /*fonte de letra*/
      font-size: 16px;}  /*tamanho de fonte recomendada é (16px) ou (1em)*/

 h3 { font-family: Arial, Helvetica, sans-serif;
      font-size: 70px;      /*tamanho do pixel da letra*/
      font-weight: 600;     /* peso da letra */
      font-style: italic;}   /* estilo da fonte */


                             /*(shorthand)
  simplicando o de cima (style, weight, size, family,)  em apenas uma linha*/
 h4 { font: italic 600 70px arial, Helvetica, sans-serif;}


 
