@charset "UTF-8";

* {
    border: 0PX;
    padding: 0px;
    width: 600px;
    margin:auto
}

h1 {
    background-color: beige;
    text-align: center;
    padding-bottom: 15px;
}

h2 {
    text-align: center;
    padding-bottom: 15px;}